.project
.classpath
Makefile
Makefile.in
*.lo
*.la
*.o
*.class
.settings
.deps
.libs
*.log
*.csv
autom4te.cache
/results/*
/var/*
*.dylib
*.a
bin/bin
bin/sdk
*.swp
*.pyc
**/*.iml
.idea/*
*.factorypath
.unittestingStatus
graalJars/
graal_dumps/*
etc/dependencies/*
tornado-assembly/target/
tornado-annotation/target/
tornado-benchmarks/target/
tornado-drivers/drivers-common/target/
tornado-drivers/opencl-jni/target/
tornado-drivers/opencl/target/
tornado-drivers/target/
tornado-examples/target/
tornado-runtime/target/
tornado-drivers/opencl-jni/src/main/cpp/headers/
beehive-spirv-toolkit/
levelzero-jni/
setvars.cmd
setvars.sh
tornado-drivers/ptx-jni/target/
dist/
level-zero/
target/
.venv/
docs/build/
