.idea/
.unittestingStatus
.build/*.xml
beehive-spirv-toolkit/
bin/__pycache__/
bin/bin
bin/sdk
dist/
docs/build/
etc/dependencies/
graalJars/
graal_dumps/
level-zero/
levelzero-jni/
setvars.sh
setvars.cmd
target/
tornado-annotation/target/
tornado-assembly/target/
tornado-assembly/tornado-assembly.iml
tornado-benchmarks/target/
tornado-drivers/drivers-common/target/
tornado-drivers/opencl-jni/src/main/cpp/headers/
tornado-drivers/opencl-jni/target/
tornado-drivers/opencl/target/
tornado-drivers/ptx-jni/target/
tornado-drivers/target/
tornado-examples/target/
tornado-runtime/target/
tornado.iml
tornado_unittests.log
OpenCL-Headers/
tornado-assembly/src/etc/tornado.backend
