/etc/tornado.env
/target/
/dist/
.project
.classpath
Makefile
Makefile.in
*.lo
*.la
*.o
*.class
.settings
.deps
.libs
*.log
*.csv
autom4te.cache
/results/*
/opencl/*
/opencl-src/*
/opencl-bin/*
/opencl-cache/*
/var/*
*.dylib
*.a
/tornado-annotation/target
bin/bin
bin/sdk
*.swp
*.pyc
**/*.iml
.idea/*
*.factorypath
.unittestingStatus
spirvproto-lib/target/*
*dependency-reduced-pom.xml
graalJars/
spirv-beehive-toolkit/target/
graal_dumps/*
drivers/spirv-levelzero-jni/.idea/
drivers/spirv/target/
level-zero/
spirv-beehive-toolkit/
etc/dependencies/*
tornado-assembly/target/
tornado-benchmarks/target/
tornado-drivers/drivers-common/target/
tornado-drivers/opencl-jni/target/
tornado-drivers/opencl/target/
tornado-drivers/target/
tornado-examples/target/
tornado-runtime/target/

