<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
    <Async name="Async">
      <AppenderRef ref="Console"/>
    </Async>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="Console"/>
		</Root>
		<Logger name="uk.ac.manchester.tornado" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
    		</Logger>
		<Logger name="uk.ac.manchester.tornado.runtime.ObjectReference" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
    		</Logger>
		<Logger name="uk.ac.manchester.tornado.graal.compiler.TornadoCodeGenerator" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
    		</Logger>
		<Logger name="uk.ac.manchester.tornado.graal.TornadoLIRGenerator" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
    		</Logger>
		<Logger name="uk.ac.manchester.tornado.runtime.TornadoVM" level="warn" additivity="false">
			<AppenderRef ref="Console"/>
    		</Logger>
	</Loggers>
</Configuration>
